:root {
    --xxs: 12px;
    --xs: 14px;
    --sm: 16px;
    --md: 18px;
    --lg: 20px;
    --xl: 28px;
    --white-color: #fff;
    --black-color: #000;
    --black-hover-color: #5b5b5c;
    --background-border-color: #ccc;
    --background-hover-color: #e6e6e6;
    --background-color: #f0f0f0;
    --primary-color: #4d79ff;
    --danger-color: #ff4d4d;
    --primary-hover-color: #3c64e6;
    --danger-hover-color: #e63c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inactive {
    display: none !important;
}

body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    background-image: url(../images_page/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 0;
    gap: 24px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.messages {
    width: 100%;
}

.alert {
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f1aeb5;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert strong {
    font-weight: bold;
    font-size: var(--xs);
    color: var(--black-color);
}

.alert .btn-close {
    padding: 4px 6px;
    background-color: transparent;
    border: none;
    width: auto;
    height: 100%;
}

.alert .btn-close i {
    color: var(--black-color);
    font-size: var(--md);
    transition: color 0.3s;
}

.alert .btn-close:hover i {
    color: var(--white-color);
}

.alert .btn-close:hover{
    background-color: var(--black-hover-color);
    opacity: 0.5;
}

.card {
    width: 600px;
    height: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 40px 32px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 16px;
}

.title {
    font-size: var(--xl);
    font-weight: bold;
    color: var(--white-color);
    width: 100%;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group label {
    font-size: var(--sm);
    font-weight: normal;
    color: var(--black-color);
}

.form-group .form-control {
    padding: 8px;
    border: 1px solid var(--background-border-color);
    border-radius: 4px;
    font-size: var(--xs);
    color: var(--black-color);
    background-color: var(--background-color);
    transition: background 0.3s;
    outline: none;
}

.form-group .form-control:hover {
    background-color: var(--background-hover-color);
}

.image-review {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#imagePreview {
    max-width: 100%;
    height: auto;
}

#description {
    resize: none;
    height: 78px;
}

.form-group:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 1 / 7;
}

.form-group:nth-child(5) {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    grid-row: 7 / 8;
    grid-column: 1 / 3;
    gap: 12px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: var(--sm);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
    outline: none;
    width: 30%;
}

.btn-danger {
    background-color: var(--danger-color);
    color: var(--white-color);
    text-align: center;
}

.btn-danger:hover {
    background-color: var(--danger-hover-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover-color);
}

.garments-container {
    width: 100%;
    height: auto;
    display: flex;
    overflow: auto;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.garments-container .btn {
    width: 90px;
    height: 90px;
    padding: 16px;
    font-size: var(--md);
}

.modal {
    max-width: 900px;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 40px 32px;
    border: none;
    outline: none;
    width: 100%;
}

.modal .title {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--black-color);
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
}

.garments {
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 8px;
}

.garment {
    width: 140px;
    height: auto;
    border: 1px solid var(--background-border-color);
    border-radius: 16px;
    background-color: var(--background-color);
    transition: background 0.3s;
    outline: none;
    cursor: pointer;
    position: relative;
}

/*Hover of an image*/
.garment:hover {
    background-color: var(--background-hover-color);
    opacity: 0.7;
}

.garment img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.garment p {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 16px 16px;
    font-size: var(--sm);
}

.garment:hover p {
    background-color: var(--background-hover-color);
}

@media (max-width: 960px) {
    .modal {
        width: 91%;
    }
}

@media (max-width: 640px) {
    .card {
        width: 500px;
        grid-template-columns: 1fr 1.2fr;
    }

    .garment p {
        font-size: var(--xs);
    }
}

@media (max-width: 540px) {
    .main-container {
        padding: 0 20px;
    }
    .card {
        width: 100%;
        /*display: flex;*/
        /*flex-direction: column;*/
        grid-template-columns: 1fr ;
    }

    .form-group:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .form-group:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }

    .image-review {
        max-height: 300px;
    }

    #imagePreview {
        max-height: 300px;
    }

    .btn {
        width: 40%;
    }
}