:root{
    --xxs: 12px;
  --xs: 14px;
  --sm: 16px;
  --md: 18px;
  --lg: 20px;
  --xl: 28px;
  --white-color: #fff;
  --black-color: #000;
  --background-border-color: #ccc;
  --background-hover-color: #e6e6e6;
  --background-color: #f0f0f0;
  --primary-color: #4d79ff;
  --danger-color: #ff4d4d;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    background-image: url(../images_page/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.inactive {
    display: none;
}

.main-container {
    margin: 26px 4px 0 4px;
}

.garments-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 26px;
    place-content: center;
}

.card {
    background-color: var(--white-color);
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.125);
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.card-body {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background-hover-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 16px 16px;
}

.card-title {
    font-size: var(--md);
    font-weight: bold;
    color: var(--black-color);
}

.card-text {
    font-size: var(--sm);
    color: var(--black-color);
}

.garment-detail {
    width: 320px;
    padding-bottom: 24px;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 8px 8px;
}

.garment-detail-content {
    position: relative;
    width: 100%;
    height: auto;
}

.close-garment-detail {
    background-color: var(--white-color);
    height: 14px;
    width: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
}

.close-garment-detail:hover, .close-garment-detail:focus {
    cursor: pointer;
    background-color: var(--black-color);
    color: var(--white-color);
}

.garment-detail-content > img:nth-child(1) {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0 0 12px 12px;
}

.garment-detail .garment-info {
    margin: 12px 12px 0 12px;
    padding: 0;
}

.garment-detail .garment-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.garment-detail .garment-info p:nth-child(2) {
    color: var(--black-color);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}

.garment-detail .garment-info p:nth-child(3) {
    color: var(--black-color);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}