/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url("../images_page/12.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  margin: auto;
  padding: auto;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #0000;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #fff;
}

form {
  margin: 20px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos para el formulario de cambio de contraseña */
#password-form {
  margin-top: 40px;
}

/* Estilos para los campos de formulario */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo de campos semitransparente */
}

/* Estilos para el botón de enviar */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos para mensajes de error o éxito */
.message {
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}

.success {
  background-color: #4CAF50;
  color: #fff;
}

.error {
  background-color: #f44336;
  color: #ff0000;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}

.card {
  background-color: #0000;
  width: 400px;
  margin: 0 auto;
  padding: 10 10px 20px;
}

.card-content {
  text-align: center;
}

form {
  margin-top: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para los campos del formulario */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="hidden"] {
  display: none;
}


/* Estilos generales */
.container {
  text-align: center;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Formulario de restablecimiento de contraseña */
form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  padding: 10px 0;
  font-weight: bold;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}
