{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <form action="" method="POST" class="card" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" value="" class="form-control" id="name" placeholder="Enter the garment's name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" value="" class="form-control" id="description" placeholder="Enter the garment's description"></textarea>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" name="image" class="form-control" id="image" required>
            </div>
            <div class="form-group dropdown">
                <label for="category">Category</label>
                <div class="select form-control">
                    <input type="text" class="selected" id="category" name="category" required disable>
                    <div class="caret"></div>
                </div>
                <ul class="menu">
                    <li class="active option-disabled">Select a category</li>
                    {% for category in categories %}
                        <li>{{ category.1 }}</li>
                    {% endfor %}
                </ul>
                <!-- <label for="category">Category</label>
                <select name="category" id="category" class="form-control" required>
                    <option selected disabled>Select a category</option>
                    {% for category in categories %}
                        <option value="{{ category.0 }}">{{ category.1 }}</option>
                    {% endfor %}
                </select> -->
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" name="brand" value="" class="form-control" id="brand" placeholder="Enter the garment's brand">
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" name="size" value="" class="form-control" id="size" placeholder="Enter the garment's size">
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" name="color" value="" class="form-control" id="color" placeholder="Enter the garment's color">
            </div>
            <a href="{% url 'home' %}" class="btn btn-danger">
                Cancel
            </a>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
{% endblock %}