{% extends 'base/base.html' %} {% load static %} {% block content %}
<title>Outfits Closet</title>
<link rel="stylesheet" href="{% static 'css/closet_outfits.css' %}" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
/>

<div class="container mt-4 text-center">
  <h1>Outfits</h1>
</div>

<div class="container mt-4 text-center">
  <form
    class="form-inline justify-content-center"
    method="get"
    action="{% url 'closet_outfits' %}"
  >
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="search"
        placeholder="..."
        value="{{ search_query }}"
      />
    </div>
    <button type="submit" class="btn btn-dark ml-2">Search</button>
  </form>
</div>

<div class="carousel-container">
  <div class="closet-carousel glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for outfit in outfits %}
        <li class="outfit glide__slide">
          <h2>{{ outfit.name }}</h2>
          <img src="{{ outfit.image.url }}" alt="{{ outfit.name }}" />
          <div class="outfit-description">
            <p>{{ outfit.description }}</p>
            <form method="post" action="{% url 'closet_outfits' %}">
              {% csrf_token %}
              <input type="hidden" name="outfit_id" value="{{ outfit.id }}" />
              <button class="eliminar-btn" type="submit">Delete Outfit</button>
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left previous-button" data-glide-dir="<">
          Previous
        </button>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--right next-button" data-glide-dir=">">
          Next
        </button>
      </div>
    </div>
    </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  new Glide(".glide", {
    type: "carousel",
    startAt: 0,
    perView: 1, // Muestra un outfit a la vez
  }).mount();
</script>
{% endblock %}
