{% extends 'base/base_no_nav.html' %}

{% block content %}
    <div class="main-container">
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                            <strong class="text-dark">{{ message }}</strong>
                            <button type="button" class="btn btn-close" data-bs-dismiss="alert">
                                <i class="fas fa-times"></i>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <form action="{% url 'edit_garment' id=garment.id %}" method="POST" class="card" enctype="multipart/form-data">
            <h1 class="title">Edit Garment</h1>
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" value="{{ garment.name }}" class="form-control" id="name" placeholder="Enter the garment's name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter the garment's description">{% if garment.description %}{{ garment.description }}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <label>Image</label>
                <label for="image" class="form-control image-review">
                    <img id="imagePreview" src="{{ garment.image.url }}" alt="Upload an Image">
                </label>
                <input type="file" name="image" id="image" accept="image/*" hidden>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control" required>
                    <option disabled>Select a category</option>
                    {% for category in categories %}
                        {% if garment.category == category.1 %}
                            <option value="{{ category.1 }}" selected>{{ category.1 }}</option>
                        {% else %}
                            <option value="{{ category.1 }}">{{ category.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="caret"></div>
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" name="brand" value="{% if garment.brand %}{{ garment.brand }}{% endif %}" class="form-control" id="brand" placeholder="Enter the garment's brand">
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" name="size" value="{% if garment.size %}{{ garment.size }}{% endif %}" class="form-control" id="size" placeholder="Enter the garment's size">
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" name="color" value="{% if garment.color %}{{ garment.color }}{% endif %}" class="form-control" id="color" placeholder="Enter the garment's color">
            </div>
            <div class="form-group">
                <a href="{% url 'garments' %}" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
{% endblock %}