{% extends 'base/base.html' %}

{% block content %}
    <div class="main-container">
        <div class="garments-container">
            {% for garment in garments %}
            	<div class="card garment-card">
                    <img src="{{ garment.image.url }}" class="card-img" alt="Garment Image">

                    <div class="card-body garment-details">
                        <h3 class="card-title">{{ garment.name }}</h3>
                        <p class="card-text">{{ garment.category }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}