{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Password Reset Email Sent</h3>
            <p class="card-text">
              We have sent you instructions for setting your password. Please check your email.
            </p>
            <p class="card-text">
              If you don't receive an email, please ensure that you entered a correct email address and check your spam folder.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="{% static 'css/password.css' %}">
{% endblock %}
