{% extends 'base/base_no_nav.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Password Reset Complete</h3>
            <p class="card-text">Your password has been set successfully.</p>
            <a href="/signin" class="btn btn-primary">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="{% static 'css/password_done.css' %}">
{% endblock %}
